body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#networkCanvas {
    background: url('https://github.com/The-Cod3Father/AI-Interface1/blob/68f9888234f20f3eff50d37a57691dec4c9418ba/CEE8ABA0-9CE0-44A0-A20A-028BB4CA3496.png') no-repeat center center;
    background-size: contain;
}
